* {
    text-decoration: none;
    list-style-type: none;
    margin         : 0px;
    padding        : 0px;
    outline        : none;
}

html {
    height: 100%;
}

body {
    height          : 100%;
    margin          : 0px;
    padding         : 0px;
    font-family     : 'Open Sans', sans-serif;
    background-color: #ebf0f6;
}

.container {
    display       : flex;
    flex-direction: column;
    min-height    : 100vh;
}

section {
    width    : 100%;
    max-width: 1200px;
    margin   : 0px auto;
    display  : table;
    position : relative;
}

header {
    width           : 100%;
    display         : table;
    background-color: #98ccd3;
    margin-bottom   : 10px;
    flex            : 0 0 auto;
}

#logo {
    float      : left;
    font-size  : 24px;
    color      : #ebf0f6;
    font-weight: 600;
    padding    : 20px 0px;
}

#logo:hover {
    color: #132238;
}

nav {
    width: auto;
    float: right;
}

nav ul {
    display: table;
    float  : right;
}

nav ul li {
    float: left;
}

nav ul li:last-child {
    padding-right: 0px;
}

nav ul li a {
    color     : #132238;
    font-size : 18px;
    padding   : 25px 20px;
    display   : inline-block;
    transition: all 0.5s ease 0s;
}

nav ul li a:hover {
    background-color: #132238;
    color           : #ebf0f6;
    transition      : all 0.5s ease 0s;
}

nav ul li a:hover i {
    color     : #ebf0f6;
    transition: all 0.5s ease 0s;
}

nav ul li a i {
    padding-right: 10px;
    color        : #132238;
    transition   : all 0.5s ease 0s;
}

.toggle-menu ul {
    display: table;
    width  : 25px;
}

.toggle-menu ul li {
    width           : 100%;
    height          : 3px;
    background-color: #132238;
    margin-bottom   : 4px;
}

.toggle-menu ul li:last-child {
    margin-bottom: 0px;
}

input[type=checkbox], label {
    display: none;
}

.about-content {
    margin    : 0px auto 40px auto;
    display   : table;
    padding   : 10px;
    text-align: center;
}

.sign-up {
    padding: 10px;
}

.question-content {
    margin-top   : 5px;
    margin-bottom: 10px;
}

.answer-label {
    margin-top   : 60px;
    margin-bottom: 20px;
    border-bottom: 4px solid black;
    width        : 100px;
    padding      : 5px;
    font-weight  : 700;
}

@keyframes typing {
    from {
        width: 0;
    }
}

#motto {
    font-weight: bold;
    font-size  : 24px;
    width      : 18ch;
    margin     : 2em 1em;
    white-space: nowrap;
    overflow   : hidden;
    animation  : typing 2s steps(20, end);
}

#description {
    font-size: 18px;
    font-size: bold;
    border   : 2px solid #132238;
    padding  : 10px;
}

main {
    flex: 1;
}

.form-control {
    position  : relative;
    z-index   : 1;
    background: #364e68;
    max-width : 360px;
    margin    : 30px auto 100px;
    padding   : 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#form-description {
    color      : #ebf0f6;
    padding    : 10px;
    font-weight: 800;
    font-size  : 24px;
}

.user-details-input {
    outline   : 0;
    background: #ebf0f6;
    width     : 100%;
    border    : 0;
    margin    : 0 0 15px;
    padding   : 15px;
    box-sizing: border-box;
    font-size : 14px;
}

.form-control button {
    text-transform    : uppercase;
    outline           : 0;
    background        : #98ccd3;
    width             : 100%;
    border            : 0;
    padding           : 15px;
    color             : #ebf0f6;
    font-size         : 14px;
    -webkit-transition: all 0.3 ease;
    transition        : all 0.3 ease;
    cursor            : pointer;
}

.form-control button:hover, .form-control button:active, .form-control button:focus {
    background: #132238;
}

.form-control .message {
    margin   : 15px 0 0;
    color    : #ebf0f6;
    font-size: 14px;
}

.form-control .message a {
    color          : #98ccd3;
    text-decoration: none;
}

#editorContainer{
    max-width: 600px;
    margin   : auto;
    padding  : 10px;
}

#title-content {
    margin-top   : 30px;
    margin-bottom: 10px;
    border       : 2px solid #000;
}

#myEditor{
    border : 1px solid #000;
    padding: 20px;
}

#toolbar{
    padding         : 10px 20px;
    border          : 1px solid #d9d9d9;
    background-color: #364e68;
}

#toolbar button{
    border          : 1px solid transparent;
    font-size       : 18px;
    cursor          : pointer;
    padding         : 5px 10px;
    background-color: transparent;
}

#toolbar button:hover{
    border: 1px solid #ffffff;
}

.qa-submit button, .ask-button button, .remove-button button {
    display        : inline-block;
    border         : none;
    padding        : 1rem 2rem;
    margin-top     : 10px ;
    text-decoration: none;
    background     : #132238;
    color          : #ffffff;
    font-size      : 1rem;
    line-height    : 1;
    cursor         : pointer;
    text-align     : center;
}

.qa-submit button:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.user-timeline {
    margin        : 0 auto;
    padding       : 10px;
    width         : 60%;
    display       : flex;
    flex-direction: column;
}

.user-timeline a {
    text-decoration: none;
    color          : black;
}

.username-container {
    border          : 3px solid #98ccd3;
    border-radius   : 3px;
    width           : 25%;
    padding         : 5px;
    background-color: #98ccd3;
}

.username-container p {
    color      : #132238;
    font-weight: 800;
}

#username-label {
    color: white;
}
.title-content {
    margin-top: 10px;
}

.title-content p {
    font-weight  : 900;
    font-size    : 18px;
    border-bottom: 1px solid black;
}

.posts {
    margin-top: 20px;
    padding   : 10px;
}

.user-post {
    border: 2px solid black;
}

.post-contents {
    border-bottom: 2px solid black;
}

.remove-button button {
    background-color: red;
    font-size       : 12px;
    padding         : 5px;
}

.answers {
    border       : 1px solid black;
    padding      : 20px;
    margin-bottom: 20px;
}

.answer-number {
    border       : 2px solid black;
    width        : 20px;
    height       : 20px;
    border-radius: 50%;
    padding      : 5px;
    text-align   : center;
    margin-bottom: 10px;
}

.accept-reject-container {
    display       : flex;
    flex-direction: row;
    margin-top    : 20px;
}

.accept-reject-container button {
    padding    : 5px;
    border     : none;
    font-weight: 900;
    border     : 1px solid black;
}

.accept-reject-container button:hover {
    background-color: #132238;
}

.accept-reject-container button i {
    padding-right: 2px;
}

.answer-details {
    overflow-wrap: break-word;
}

.reject {
    margin-left: 5px;
}

.markdown {
    background-color: #cddbf2;
    padding         : 5px;
    border-radius   : 5px;
}

.comment-container {
    border-top : 1px solid gray;
    margin-top : 10px;
    padding-top: 5px;
}

textarea.comment-textarea {
    width  : 90%;
    border : 3px solid #cccccc;
    padding: 5px;
    resize : vertical;
}

.add-comment-btn {
    margin-bottom: 5px;
}

.add-comment-btn {
    border          : none;
    padding         : 5px;
    background-color: #ebf0f6;
    text-transform  : uppercase;
    border-bottom   : 2px dashed #132238;
}

.add-comment-btn:hover {
    font-weight: 700;
}

.comment-post {
    display: none;
}

.comment-btn {
    padding    : 2px;
    font-weight: 700;
}

.search-question-details {
    width   : 100%;
    position: relative;
}

.submit-question {
    position     : absolute;
    right        : -50px;
    width        : 40px;
    height       : 36px;
    border       : 1px solid #132238;
    background   : #132238;
    text-align   : center;
    color        : #fff;
    border-radius: 3px;
    cursor       : pointer;
    font-size    : 20px;
}

.search-question {
    float        : left;
    width        : 100%;
    border       : 3px solid #132238;
    padding      : 5px;
    height       : 20px;
    border-radius: 5px;
    outline      : none;
    color        : black;
    font-size    : 14px;
}

.search-question-container {
    width        : 60%;
    margin-bottom: 20px;
}

.explore-tags {
    border-top: 1px solid black;
    margin-top: 10px;
}

.question-tag {
    background-color: #364e68;
    color           : white;
    border          : 2px solid black;
    border-radius   : 5px;
    padding         : 2px;
    width           : 70px;
    height          : 30px;
    margin-top      : 10px;
}

.tag-description {
    display: none;
}

.question-tag:hover ~ .tag-description {
    display         : table;
    background-color: black;
    padding         : 5px;
    color           : white;
    width           : 40%;
    margin-top      : 5px
}

footer {
    display         : table;
    padding-bottom  : 30px;
    width           : 100%;
    background-color: #98ccd3;
    flex            : 0 0 auto;
}

.social-media {
    margin : 0px auto;
    display: table;
}

.social-media li {
    float  : left;
    padding: 0px 20px;
}

.social-media li a {
    color     : #132238;
    transition: all 0.5s ease 0s;
    font-size : 30px;
}

.social-media li a:hover {
    color     : #ebf0f6;
    transition: all 0.5s ease 0s;
}

@media only screen and (max-width: 1400px) {
    section {
        max-width: 95%;
    }
}

@media only screen and (max-width: 980px) {
    header {
        padding: 20px 0px;
    }

    #logo {
        padding: 0px;
    }

    input[type=checkbox] {
        position  : absolute;
        background: none;
    }

    input[type=checkbox]:focus {
        background: none;
    }

    label {
        float  : right;
        padding: 8px 0px;
        display: inline-block;
        cursor : pointer;
    }

    input[type=checkbox]:checked ~ nav {
        display: block;
    }

    nav {
        display         : none;
        position        : absolute;
        right           : 0px;
        top             : 58px;
        background-color: #132238;
        padding         : 0px;
        z-index         : 99;
    }

    nav ul {
        width: auto;
    }

    nav ul li {
        float  : none;
        padding: 0px;
        width  : 100%;
        display: table;
    }

    nav ul li a {
        color        : #ebf0f6;
        font-size    : 15px;
        padding      : 10px 20px;
        display      : block;
        border-bottom: 1px solid #364e68;
    }

    nav ul li a i {
        color        : #ebf0f6;
        padding-right: 15px;
    }

    .user-timeline {
        width: 90%;
    }

    .username-container {
        width: 60%;
    }
}
